


.portfolio__labels {
	text-align: center;
	padding: 20px;
}
.portfolio__labels a {
	white-space: nowrap;
	line-height: 28px;
	padding:10px;
	text-decoration:none;

}
.portfolio__labels a:hover {
	color: #fff !important;
	text-decoration: none;
}
.portfolio__labels a span{
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: rgba(0,0,0,1.0);
	background: rgba(0,0,0,0.1);
	padding: 5px 15px;
	margin-right: 1px;
	border-radius: 30px;
}
.portfolio__labels a span:hover {
	color: #fff;
background: rgba(0,0,0,.8);
}
.content-box {
	align-items: center;
justify-content: center;
}